.article-list {
  border-right: 1px solid #d9d9d9;
  color: #555555;
  overflow: auto;
  .create-article {
    padding: 20px 0 20px 25px;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    border-bottom: 1px solid #d9d9d9;
    cursor: pointer;
    i {
      padding-right: 10px;
    }
    &:hover {
      color: #000;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      height: 90px;
      line-height: 90px;
      padding-left: 20px;
      cursor: pointer;
      border-bottom: 1px solid #d9d9d9;
      font-size: 18px;
      &.active {
        background-color: #ececec;
        border-left: 5px solid #ec7259 !important;
        color: #000;
      }
      &:hover {
        background-color: #ececec;
        color: #000;
      }
    }
  }
}
