.article-write {
  .title {
    box-sizing: content-box !important;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 30px 10px 40px;
    input {
      width: 100%;
      height: 100%;
      line-height: 40px;
      font-size: 30px;
      border: none;
      outline: medium;
    }
  }
  .content {
    padding: 40px;
    textarea {
      border: none;
      outline: medium;
      resize: none;
      height: 100%;
      width: 100%;
      font-size: 26px;
      line-height: 1.7;
      font-weight: normal;
    }
  }
}
