.header{
  position: relative;
  z-index: 10;
  height: 68px;
  padding: 15px 0;
  background: linear-gradient(#33393d, #40474d);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  .logo{
    line-height: 38px;
    font-size: 24px;
    color: #b6c0ce;
    text-align: center;
  }
}

