.sidebar{
  box-sizing: border-box;
  border-right: solid 1px #dfdfdf;
  padding: 30px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  .head-portrait{
    margin: 0 auto;
    height: 120px;
    width: 120px;
    background-image: url("~assets/imgs/head-portrait.jpg");
    background-size: 100% 100%;
  }
  .brief-introduction{
    font-size: 12px;
    padding: 10px 0;
  }
}
